[2014-04-29 01:39] Nemykal opened #7 "Varnish 4.0 support"
Hi,
Varnish 4.0 was released recently and I'm interested in testing this module against it. From what I can tell it seems the VCL should be easy enough to adapt to the new syntax.

Can you foresee any compatibility issues with this plugin and Varnish 4? Perhaps it might be worth including a default-4.0.vcl config file too.

[2014-11-25 19:11] robsonlopes opened #17 "Checkout Form Key Issue"
I have strange problem at checkout and in the client area, see the screenshot
http://screencast.com/t/pgbth6ez4jF

<input name="form_key" type="hidden" value="<esi:include src=" http:="" virtualfashion.com.br="" varnishcache="" getformkey="" "="">

[2015-01-06 15:54] ihor-sviziev commented on #17
@johnjyin I see that now you fixed this issue. Looks like you added "-p esi_syntax=0x03" to startup parameters.

[2015-01-09 21:18] hugodiasneto commented on #17
Same problem here :(

[2015-01-10 09:21] ihor-sviziev commented on #17
@hugodiasneto you have same issue like me or like guy from first post? If same like me - try add "-p esi_syntax=0x03" to startup parameters

[2015-01-13 19:07] djgoulaer opened #21 "Product Page - Links Broken? Please Help!"
Hello! I installed the latest version of Varnish Server 3 and the module Page Cache following exactly the instructions in the Readme.txt file.

But in my product page some strange things are happening:

It appears this aima product code name:

/ "Method =" post "id =" product_addtocart_form ">" />

And this code below the button add to cart:

/ "Onclick =" productAddToCartForm.submitLight (this, t

[2015-01-13 21:57] PHOENIX-MEDIA commented on #21
Seems like you forgot to set esi_syntax startup parameter (see readme). Can you check the HTML code to see if you find an <esi:include /> tag?

[2015-01-13 22:20] djgoulaer commented on #21
Hello, thank you for your help.
I checked and found the html tags, but they appear to conflict with the standard HTML.

Here the words at the beginning of the form:

<form action="http://www.cheiroecor.com.br/checkout/cart/add/uenc/aHR0cDovL3d3dy5jaGVpcm9lY29yLmNvbS5ici9wZXJmdW1lcy9wcm9kdXRvLXRlc3RlLmh0bWw_X19fU0lEPVU,/product/1/form_key/<esi:include src="http://www.cheiroecor.com.br/varnishcache/

[2015-01-13 22:38] PHOENIX-MEDIA commented on #21
Can you please try esi_syntax=0x3 instead?

Am 13.01.2015 um 23:20 schrieb djgoulaer <notifications@github.com<mailto:notifications@github.com>>:

Hello, thank you for your help.
I checked and found the html tags, but they appear to conflict with the standard HTML.

Here the words at the beginning of the form:

/" method="post" id="product_addtocart_form">
" />

And here the words of the links to

[2015-01-13 22:53] djgoulaer commented on #21
Wow your help is being fantastic!

Not solved yet, but had considerable progress.

After the last change of the esi configuration (esi_syntax = 0x3) the problem persisted, but not quite.

When clean the cache magento and browser, and access the site (like a user accessing the first time) the problem persists.

But if I update the page with a "CTRL + F5" the problem is solved almost completely, exc

[2015-01-14 20:35] djgoulaer commented on #21
Problem status:

The problem that made the products were not added to the shopping cart has been solved using this module:

https://github.com/deivisonarthur/Inovarti_FixAddToCartMage18

However I still the problem that makes a mess in the html code of the form and links "add_to".
This problem happens only when the user first access, since as I had said before, if I press the Ctrl + F5 keys the ht

[2015-01-15 16:01] epiblue opened #22 "Can't set up varnish, missing something here... Getting Miss"
My configs:
/etc/sysconfig/varnish
`
# Configuration file for varnish
#
# /etc/init.d/varnish expects the variable $DAEMON_OPTS to be set from this
# shell script fragment.
#

# Maximum number of open files (for ulimit -n)
NFILES=131072

# Locked shared memory (for ulimit -l)
# Default log size is 82MB + header
MEMLOCK=82000

# Maximum number of threads (for ulimit -u)
NPROCS="unlimited"

# Maximu

[2015-01-21 03:39] laughingchan opened #23 "Does not work with onepage checkout in magento 1.9.0.1"
Hi,

Does not work with onepage checkout in magento 1.9.0.1.
Click place order, it's still in checkout page.

[2015-02-03 10:29] guidtz opened #24 "Problem with add to whishlist"
Hello,

   i have a problem with PageCache with "Add to whishlist" link. Linkls are like that :

http://site.domain.com/wishlist/index/add/product/1081/form_key/%3Cesi:include%20src=%22http://site.domain.com/varnishcache/getformkey/index/_nosid/1/?SID=tg0u8h8e058ksal9u52tnc3eh1%22%20/%3E/

And when I clic on link I have the whishlist page I have a page with that :

%3Cesi%3Ainclude%20src%3D%22http

[2015-02-03 10:31] PHOENIX-MEDIA commented on #24
Please try "esi_syntax=0x3".

[2015-02-03 10:38] guidtz commented on #24
Yes I have it in varnish startup options :
Varnish Daemon options :
DAEMON_OPTS="-a ${VARNISH_LISTEN_ADDRESS}:${VARNISH_LISTEN_PORT} \
-f ${VARNISH_VCL_CONF} \
-T ${VARNISH_ADMIN_LISTEN_ADDRESS}:${VARNISH_ADMIN_LISTEN_PORT} \
-t ${VARNISH_TTL} \
-w ${VARNISH_MIN_THREADS},${VARNISH_MAX_THREADS},${VARNISH_THREAD_TIMEOUT} \
-s ${VARNISH_STORAGE} \
-p esi_syntax=0x03 -p shm_reclen=4096"

ps :
/usr/sbi

[2015-02-03 10:44] PHOENIX-MEDIA commented on #24
"0x3" not "0x03".

[2015-02-03 11:00] guidtz commented on #24
Sorry but I have the same error with 0x3 :-(

[2015-02-03 11:09] PHOENIX-MEDIA commented on #24
Are you using the latest VCL? Normally this ESI tag should be replaced. Does it work for your "add to cart" links?

[2015-02-03 13:36] guidtz commented on #24
I installed the version with magento connect.
Yes the add to cart link works.

[2015-02-10 08:44] matthiaskomarek commented on #17
@ihor-sviziev i got the same problem. do you have solved this issue?

[2015-02-10 10:07] ihor-sviziev commented on #17
@matthiaskomarek no, now we using older version of this module and implemented hack for skipping form key validation, but it can be unsecure.

[2015-02-16 18:11] KevinMace commented on #17
I have the same issue with the ESI include tag displaying on the frontend. I ended up doing the same as @ihor-sviziev by using the older version which does not use ESI, then added a 'hack' to remove form key validation.

[2015-02-17 10:01] ankitce commented on #7
Tried with Varnish 4.0
Got below message while starting varnish.

Message from VCC-compiler:
Assert error in vcc_IdIs(), vcc_token.c line 283:
  Condition(t->tok == ID) not true.
  errno = 9 (Bad file descriptor)
Running VCC-compiler failed, signal 6, core dumped

VCL compilation failed

[2015-03-04 18:32] Nasatya commented on #21
@djgoulaer I have the same problem with my multsite magento store. Did you find any solution on this problem?

Thanks for any help.

[2015-04-01 14:25] campsafari commented on #21
i have the same problem that for example on the customer account forms the essay includes somehow produce this " /> after the form key.
How can i fix this?

[2015-04-04 19:05] opalice commented on #21
same problem
esi includes somehow produce this " /> after the form key.
http://goo.gl/lhVy53

[2015-04-06 14:53] djgoulaer commented on #21
I was unable to solve the problem or found on the internet that
someone has solved .

Also did not get satisfactory support from developers , since when the
problem became complicated they stopped trying to help.

I followed all recommendations and documentation , but it still fails .

So , I gave up using the module.

Atenciosamente,

Diego José Goulart
+55 62 81964028

On Sat, Apr 4, 2015 at 4:0

[2015-04-06 15:56] opalice commented on #21
All our team is working to debug the module and the vcl.

[2015-04-07 09:41] campsafari commented on #21
It seems like the form key esi include is not escaped correctly...i will have a look when i can find some time. as a quick fix i removed esi includes for form keys...

[2015-04-07 11:40] AdamHughes opened #25 "ESI Tags still on frontend after removing plugin"
ESI tags are still included in add to cart URLs even after removing the plugin, clearing caches, etc.

[2015-04-07 12:03] opalice commented on #25
We have separated varnish server - web server we have see this problem when plugin is not disabled and varnish no more active.

[2015-04-11 16:43] isibrk commented on #21
@campsafari same problem :( do you have an idea?

[2015-04-16 08:19] Cranke commented on #17
This is due to bad quoting.

change lines 24 and 25 of app/code/community/Phoenix/VarnishCache/Helper/Esi.php

from

    const ESI_INCLUDE_OPEN  = '<esi:include src="';
    const ESI_INCLUDE_CLOSE = '" />';

to

    const ESI_INCLUDE_OPEN  = "<esi:include src='";
    const ESI_INCLUDE_CLOSE = "' />";

[2015-04-16 08:41] chougron commented on #17
I fixed this by adding "-p esi_syntax=0x03" to my startup parameters (as said in the README) then, editing the given .vcl file as accordingly :

Search for “sub vcl_fetch {“ And add just below :
    set beresp.do_esi = true;

Then I restarted varnish service, flushed varnish cache in Magento settings, cleaned the cookies.

[2015-04-16 08:51] ihor-sviziev commented on #17
@Cranke or @chougron could you create pull request which will fix those issue?

[2015-04-16 09:24] Cranke commented on #17
how can i do that without forking the whole project?

[2015-04-16 11:30] ihor-sviziev commented on #17
@PHOENIX-MEDIA could you merge those changes?

[2015-04-17 14:40] shameem5566123 commented on #21
Same problem
![selection_160](https://cloud.githubusercontent.com/assets/6358699/7204169/bf2d14dc-e53d-11e4-8a89-cca73c920d4f.png)

/" method="post" id="product_addtocart_form" >	" />

Please help.

[2015-04-24 13:38] gubacelar commented on #21
I have a similar problem on `customer/address/edit/id/`.

" /> This was showing on my screen because getFormKey was returning `<esi:include src="***/varnishcache/getformkey/" />`. What I did to work was just force HTML escape with `htmlentities`

on `formkey.phtml`

[code]

[2015-05-05 23:55] Jonathonbyrd commented on #17
@Cranke I've confirmed that this was the issue with my install @ http://residualdrivers.com Thanks for that fix!

[2015-05-05 23:57] Jonathonbyrd commented on #21
This is the same problem as issue #17 of which we've fixed by adjusting the quotation marks in Esi.php. They've even created a pull request to fix it.

[2015-05-05 23:59] Jonathonbyrd commented on #24
Again! This is the same problem as Issue #17 all you need to do is adjust the quotation marks in Esi.php Btw, Issue #17 suggests the fix for you with a pull request.

[2015-05-13 06:42] crasx opened #28 "404"
when I enable this extension and try to visit the admin page it gives me a 404. Magento EE 1.14. Did I do something wrong?

[2015-05-13 06:47] crasx commented on #28
resolved by logging out and back in

[2015-05-13 06:47] #28 closed

[2015-05-15 07:44] domeglic opened #29 "Retreiving formkeys via esi"
I am confused about how the form key integration via esi works. The formkeys are replaced with the esi tag that has a URL: "magento/varnishcache/getformkey".
But I don't see any controller that would have this action, so how is it supposed to work? Am I missing some configuration?

[2015-05-15 07:48] pocallaghan commented on #29
I was confused about the same thing originally. Upon investigation, if you look through the provided vcl files, they intercept requests for that route, and generate a random formkey in Varnish itself. This is obviously going to be more efficient than going back to the webserver.

[2015-05-15 07:59] domeglic commented on #29
I see, thanks for the answer.

[2015-05-15 07:59] #29 closed

[2015-05-15 17:58] Jonathonbyrd opened #30 "<esi Form Key/> Not being converted to a proper form key"
I've looked through all of your documentation and your issues and I can't seem to understand this problem. I'm posting my issue here as a sort of walkthrough to find the answer, if anybody has any input while I figure this out, please share.

### The Problem

The `<esi:include src='http://staging.gruntstyle.com/varnishcache/getformkey/' />` string is not being properly interpreted by Varnish on my

[2015-05-16 07:35] djgoulaer commented on #17
@Cranke
Hello friends!
I was very pleased to see everyone's efforts to solve this annoying problem.

The solution mentioned above was excellent, but not fully resolved the issue.
As you can see from the images below, an error occurred in the javascript code that creates the cockie PAGECACHE_FORMKEY.

I auditioned on a clean installation of Magento 1.9.1.1

![capturar](https://cloud.githubuserconte

[2015-05-16 09:35] Cranke commented on #17
ok we can change that, too.
in app/design/frontend/base/default/template/varnishcache/cookie/formkey.phtml
change line 36 from

    '<?php echo $_formKeyValue; ?>',

to

     "<?php echo $_formKeyValue; ?>"

clear caches and the code will work.

[2015-05-18 17:05] djgoulaer commented on #17
@Cranke Thank you!

[2015-05-21 16:23] elioermini opened #32 "With Unsecure base url set to HTTPS (everywhere) X-Cache always MISS"

[2015-05-24 12:35] mmiat opened #33 "please improve guide/howto"
you wrote:

<pre>Copy the VCL file bundled with the PageCache module for your version of Varnish (located at app/code/local/Phoenix/VarnishCache/etc/default*.vcl)</pre>

but correct path is:

<pre>app/code/community/Phoenix/VarnishCache/etc/default_3.0.vcl</pre>

you did'nt write if and where copy composer.json

and finally if I go to system > configuration > pagecache powered I've "404 Error Page

[2015-07-18 15:25] jtsSTECH opened #35 "/varnishcachekey/getformkey/ URLENCODED"
Having a weird/random issue where the getformkey is showing up urlencoded.

For instance if you went directly to this url after the issue occurs
http://www.site.com/varnishcache/getformkey/

You would get:
%3Cesi%3Ainclude%20src%3D%27http%3A//www.site.com/varnishcache/getformkey/%27%20/%3E

Something is URL encoding that url and its sporadic.

[2015-07-18 18:28] sz00gun commented on #7
PHOENIX-MEDIA do you have a sample of vcl for Varnish 4? I would like to help and test it, if any bugs I will let you know, but I need this vcl file first ;)

Please advise

[2015-07-22 15:07] bbredewold commented on #30
Stange enough, when disabling the plugin, this error still exists...

[2015-07-23 11:08] domeglic opened #36 "Adding product to cart fails because of mismatched form_key"
I had an older version of this witohut formkey support and I "solved" it by removing the formkey check when adding to cart.
Now I'm trying to update the module so that formkeys are properly handeled, but it won't work because the formkeys are not the same when the cart/add action checks it.
How is it supposed to work, because If a user comes to a cached product page and adds it to cart. Varnish wi

[2015-08-14 13:27] SunshineTech opened #37 "Where is model "varnishcache/vcl"?"
In Phoenix_VarnishCache_Model_Observer Line 324, there is the following codes:

$designExceptionSubSnippet = Mage::getSingleton('varnishcache/vcl')

But where is model "varnishcache/vcl"?

[2015-08-23 23:19] proxium commented on #7
Any idea to fix vcl file with varnish 4

[2015-09-02 17:05] deepblueair commented on #7
+1 we really need this, has been almost a year!

[2015-09-06 18:00] MikeParkin commented on #7
@PHOENIX-MEDIA is 4.0 support still planned?

[2015-09-07 12:23] intelliant01 commented on #36
@domeglic I am facing the same issue which using a bitnami stack. Have you been able to resolve this?

[2015-09-07 13:44] domeglic commented on #36
No, I just stayed at my current way  which is to update the form_key in an add to cart observer, which basically nulifies any security advantage, but I don't really see any other way.

I didn't work on it really since then, but this is what I would do:
Solution 1:
- create a session in magento with the same form_key
- add the frontend cookie to the user in varnish
Solution 2:
Pass the request if t

[2015-09-08 05:39] intelliant01 commented on #36
@domeglic Thanks. Will try.

[2015-09-15 13:38] phizab commented on #36
We recognized similiar problems. Many customers try to add items to cart, but will instead be redirected to the cart, which is empty. It seems, that the esi tag will not replaced every time, but we do not know when this exact happens. It is not reproducable for us, but customers are explaining about it.

So I looked into the code and saw, that the block cache for the form_key cookie is activated.

[2015-09-22 13:13] maciekpaprocki commented on #30
I Have this same issue. After uninstalling still doesn't work(cache cleared). Magento installation is almost empty/new so I don't see anything else that could create the problem.

Best regards
Maciej Paprocki

[2015-09-26 17:32] diegoborba commented on #30
I have the problem only on cart page.
In the form: ```checkout/cart/updatePost/ ```
The Refresh button and remove not working.

The other pages that use the form_key, are working.

[2015-09-26 17:52] diegoborba commented on #30
I solved the problem here!

Try the following:

Copy the files  ```vars.vcl``` and ```defaul_3.0.vcl```  directory:
``` app/code/community/Phoenix/VarnishCache/etc```
To the path ``` /etc/varnish ```
restart services and clear caches.

By doing so, the cart page corrected the form_key

[2015-09-29 11:47] maciekpaprocki commented on #30
Apparently after switching off extension and reindexing issues stops showing. Just note for the people trying to get rid of issue.

[2015-11-13 15:32] musab1 opened #38 "Still issue with add to cart - the second time it works"
Hi all

I've read all the READMEs and all the posts in the other issues (and tryed/implemented everything out).

I have the problem (since this form_key disaster) that the add to cart still doesnt work.

The first time i try to add something to the card it shows an empty  cart - and the EXTERNAL_NO_CACHE cookie get set (and then afterwards it works, becouse
its bypassing Varnish becouse of the coo

[2015-11-13 16:19] musab1 commented on #38
a small Update: when i set the external_no_cache cookie manualy, it still doesnt work.
so it must be something else - related to this form_keys or whatever.

[2015-11-13 17:43] Guard1an commented on #38
Having the same issue, anybody from Phoenix, please give an update on how to solve it.

BTW: I found out that Varnish relies on Cookies and Vary: User-Agent headers so removing them will make you caching proxy not to clone cache of the same content for different browsers and user sessions. Actually, cache is not working when Google Analytics cookies are set by JavaScript. Check quote from
https://

[2015-12-01 09:44] codesse opened #40 "Admin Port and Admin Secret not in configuration page"
Hello,

although README.md informs to configure Admin Port and Admin Secret, those fields are not present in the phoenix-media pagecache configuration page.
They are neither present in core_config_data table or grepping the downloaded code.
Is there another way to inform the plugin about admin port and admin secret?
If you press the purge varnish cache button at the cache configuration page it say

[2015-12-01 16:13] codesse commented on #40
Hello,

I see in the .vcl there is a 'purge' command associated to a vcl.
So it is the README.md that needs a 'patch', maybe.

Thanks,

[2015-12-03 04:51] rob3000 commented on #37
+1

[2015-12-10 19:27] joridos opened #41 "Fatal error: Call to a member function generateDesignExceptionSub()"
Hey folks, I've been updated the module to the version 4.2.3, but when I save the configuration in the admin:

Fatal error: Call to a member function generateDesignExceptionSub() on a non-object in /att/arclube/app/code/community/Phoenix/VarnishCache/Model/Observer.php on line 325

Any Idea?

the code is:

[code]

But I not found the Model! o.0

[2015-12-22 12:39] thiagorock22 opened #42 "Problem when I add a product in cart first time"
I noticed when I visit my ecommerce first time the cookie key "frontend" is not created, only after visit area that doesn't have a cache. The problem is when I use ajax to add a cart and there is no a cookie key "frontend", the cart remains empty.
How I resolve it?

[2015-12-30 08:28] phizab commented on #42
We noticed the same problem and solved it by changing the file app/design/frontend/base/default/template/varnishcache/cookie/formkey.phtml in line 33:

From:
if (document.cookie.length && (document.cookie.indexOf('<?php echo $_cookieName; ?>=') == -1)) {

To:
if (document.cookie.indexOf('<?php echo $_cookieName; ?>=') == -1) {

Does anybody know why there is the cookie length check?

[2016-01-07 06:09] dleone81 commented on #42
I've tried your fix and works on Magento single store!
I've a multi-store Magento installation and I following your tip and added some additional steps:

1. I've not hardcoded varnishcache/cookie/formkey.phtml but I've created this into my custom template folders -> app/design/frontend/**default/mycustomtemplate/**template/varnishcache/cookie/formkey.phtml
2. Added in System > Configuration > Gene

[2016-01-11 04:10] rob3000 commented on #41
This relates to [issue 37]( https://github.com/PHOENIX-MEDIA/Magento-PageCache-powered-by-Varnish/issues/37) where there is no model.

[2016-01-12 20:28] timkley opened #43 "Getting "undefined symbol: MD5" when using new default_4.1.vcl"
[code]

What can I do to fix this issue? My current Varnish version is 4.0.3 but it looks to me as if this is no issue of Varnish itself.

[2016-01-15 15:45] ef72 opened #44 "Compiling of default_4.1.vcl fails with Cannot create .eh_frame_hdr section [...]"
##### What am I missing here? Thank you.

_@lima /etc/systemd/system # service varnish start
Job for varnish.service failed. See 'systemctl status varnish.service' and 'journalctl -xn' for details.
_@lima /etc/systemd/system # systemctl status -l varnish.service
● varnish.service - Varnish Cache, a high-performance HTTP accelerator
   Loaded: loaded (/etc/systemd/system/varnish.service; disabled)

[2016-01-18 10:16] niels-phoenix commented on #43
You need to have V4.1 and the openssl-devel package installed

[2016-01-18 10:20] niels-phoenix commented on #44
comparing the start parameters the only difference I could find is that -p cc_command=exec cc -fpic -shared -Wl,-x -o %o %s -lcrypto -lssl should be -p 'cc_command=exec cc -fpic -shared -Wl,-x -o %o %s -lcrypto -lssl'
let me know if that helps

[2016-01-19 03:14] ef72 commented on #44
The quotes are set correctly in the service daemon start script. They just get filtered by the output. If the quotes are missing Varnish will complain like "unknown store engine *hared*" because of -s**hared**.

[2016-01-19 08:11] SiddiqueAhmad commented on #43
i have v4.1 and installed the openssl-devel but still

Starting Varnish Cache: Error:
Message from dlopen:
Could not load compiled VCL.
        dlopen(vcl_boot/vgc.so) = vcl_boot/vgc.so: undefined symbol: MD5
Running dlopen failed, exited with 1
VCL compilation failed

[2016-01-19 08:28] SiddiqueAhmad commented on #44
getting same error

i have centos installed

[2016-01-19 09:56] SiddiqueAhmad commented on #44
it was mulitline issue, i put all on same line and it worked

[2016-01-19 09:56] SiddiqueAhmad commented on #43
it was mulitline issue, i put all on same line and it worked

[2016-02-15 16:07] xinhus commented on #37
I think it's some file of Enterprise Version...

@PHOENIX-MEDIA  some about this?

[2016-02-15 16:08] PHOENIX-MEDIA commented on #37
Is this issue still open? It should have been fixed in the latest version.

[2016-02-15 16:14] xinhus commented on #37
I think are open
Check: https://github.com/PHOENIX-MEDIA/Magento-PageCache-powered-by-Varnish/blob/master/app/code/community/Phoenix/VarnishCache/Model/Observer.php#L324

https://github.com/PHOENIX-MEDIA/Magento-PageCache-powered-by-Varnish/tree/master/app/code/community/Phoenix/VarnishCache/Model

Doesn't has Model "VCL"

[2016-02-24 11:43] xinhus commented on #42
I've solved it with the setting  "Use SID on Frontend" to "yes"
System > Configuration > General > Web > Session Validation Settings

I don't know if has logic, but worked fine

[2016-03-15 12:18] digitalpianism commented on #37
Yep that Model is still missing, any ETA ?

[2016-03-15 15:14] niels-phoenix commented on #37
fix for VCL is available

[2016-04-07 13:54] joridos opened #47 "Method with same name already exist"
The commit 5fac6aa are broken the stores because an method with same name already exist in the class Phoenix_VarnishCache_Adminhtml_VarnishCacheController

[2016-04-14 09:09] lrkwz opened #48 "Cannot login directly # return (pipe);"
Hello I've quite sucessully integrated in my environment:
* two backends
* round-robin director

Cart is ok, checkout is ok
But ... still I cannot login from /customer/account/login/ unless I drop something in cart.

Following is my default.vcl where notably all cookies (except some relevant  ones like ow_cookie_notice|PHPSESSID|NO_CACHE) are removed.

What is wrong here?

[code]

[2016-04-19 19:18] xtremevision commented on #43
Hi, what did you put all on the same line more precisely? Can you share the final vcl please?
Cheers,
Michael.

[2016-04-19 21:04] schmite opened #49 "Cannot redeclare Phoenix_VarnishCache_Adminhtml_VarnishCacheController::_isAllowed() in VarnishCacheController.php on line 155"
This error is occurs when we click on Clean Varnish Cache. (varnishCache/clean):

"PHP message: PHP Fatal error:  Cannot redeclare Phoenix_VarnishCache_Adminhtml_VarnishCacheController::_isAllowed() in /htdocs/.modman/Magento-PageCache-powered-by-Varnish/app/code/community/Phoenix/VarnishCache/controllers/Adminhtml/VarnishCacheController.php on line 155" while reading response header from upstream

[2016-04-20 02:16] deniscsz commented on #49
Fixed here: https://github.com/PHOENIX-MEDIA/Magento-PageCache-powered-by-Varnish/pull/50

[2016-04-20 10:23] #49 closed

[2016-04-20 10:25] PHOENIX-MEDIA commented on #43
You need to reference the openssl library in the Varnish startup parameters. Read section "3.2 Libraries needed" here https://github.com/PHOENIX-MEDIA/Magento-PageCache-powered-by-Varnish #rtfm

[2016-04-25 10:19] Emulator000 commented on #36
I'm facing the same issue with Magento 1.9.x, any new solution for this?

[2016-04-27 18:19] rakkiepianist opened #51 "Cannot restart varnish when used the default_3.0.vcl file"
Hi, i have done exactly the steps for installing and configuring PageCache to make Varnish works with Magento.
I use host CentOS 6 on Amazon EC2. My webserver is NGINX. I have installed LEMP stack, Magento, Varnish and Turpentine. Below is the information of the versions i installed:
- NGINX version: 1.0.15
- Magento CE 1.9.1.0 with sample data
- Varnish version: 3.0.7
- PageCache version: 4.4.1

[2016-04-28 08:11] phoenix-bjoern commented on #51
Do you have openssl-devel installed?

[2016-04-28 11:44] rakkiepianist commented on #51
Oh, i haven't installed openssl-devel yet. Now it works with the openssl-devel installed, i restart varnish, and then flush magento cache from the Magento admin page:
![12](https://cloud.githubusercontent.com/assets/13230680/14884456/2a811526-0d6f-11e6-8646-28a12b2a0b67.jpg)

But there's another problem! When i send a HTTP request on my browser (Chrome), i receive the response header below:
![13](

[2016-04-28 11:47] phoenix-bjoern commented on #51
@linhvh This is a bug reporting tool not a support forum. I will close the issue as the information about openssl-devel is already mentioned in the readme.

[2016-04-28 11:47] #51 closed, assigned to nobody

[2016-04-28 11:49] PHOENIX-MEDIA commented on #47
Should be fixed now.

[2016-04-28 11:49] #47 closed

[2016-04-28 11:50] #43 closed

[2016-04-28 11:50] #41 closed

[2016-04-28 11:51] PHOENIX-MEDIA commented on #40
These configs have been removed from code as they've never been used. Please ignore the readme here.

[2016-04-28 11:51] #40 closed

[2016-04-28 11:52] PHOENIX-MEDIA commented on #36
@Emulator000 Have you tried it with the latest module version and VCL? I should be solved now.

[2016-04-28 11:52] #17 closed

[2016-04-28 11:53] PHOENIX-MEDIA commented on #7
Varnish 4 support has been added.

[2016-04-28 11:53] #7 closed

[2016-04-29 15:46] Emulator000 commented on #42
Same issue here, if I open the site the first time in Incognito mode I can see a different form_key generated and the PAGECACHE_FORMKEY is different also after refreshing the page etc.
Can't add any Product to the cart and the site is unusable.

I'm missing something? How I can make it work correctly every time someone visit the site?

[2016-04-29 15:50] dleone81 commented on #42
solved using Lesti-FPC!
Varnish make me crazy ... it was very very fast on loading but so hard to configure no-cache elements as megamenu ...

[2016-04-29 16:03] Emulator000 commented on #36
@PHOENIX-MEDIA I'm using the last module and VCL version (last commit 20 April) and I'm experiencing the same issue. I think is related to my comment [here](https://github.com/PHOENIX-MEDIA/Magento-PageCache-powered-by-Varnish/issues/42#issuecomment-215769085). Thank you for your support.

[2016-05-06 05:00] rakkiepianist opened #52 "Magento site couldn't be cached when user logged in"
Hi, I have installed and configured PageCache to make Varnish work with Magento.
When I am not logged in, I check the reponse header of the site and notice that Varnish works with Magento, and the site is cached by Varnish:
![1](https://cloud.githubusercontent.com/assets/13230680/15064672/2ce1c03c-1381-11e6-9322-4cb4cd0681de.jpg)

But when I log in with email and password, it seems that Varnish do

[2016-05-06 08:22] phoenix-bjoern commented on #52
Well, this is a feature of our PageCache powered by Varnish Enterprise module which is available as a subscription.

[2016-05-06 10:25] Emulator000 commented on #38
Hi @Guard1an, could you provide more information about this approach? I'm experiencing the same annoying issue without have found a solution yet! Thank you very much!

[2016-05-06 11:02] phoenix-bjoern commented on #38
Make sure you've disabled "Browser Capability Check" for cookies in the Magento configuration (General/Web).

[2016-05-06 11:43] Emulator000 commented on #38
Thank you for you reply @phoenix-bjoern, anyway I can't find this exact option, what I've on the backend is:
![untitled](https://cloud.githubusercontent.com/assets/15048541/15072048/1bfc541a-1388-11e6-89e5-c2ab916c4207.png)

Thanks!

[2016-05-06 11:44] phoenix-bjoern commented on #38
It is "Redirect to CMS-page if Cookies are Disabled".

[2016-05-06 11:46] Emulator000 commented on #38
Thanks @phoenix-bjoern, I'm just making some test and I will let you know.

[2016-05-06 15:28] rakkiepianist commented on #52
So with Enterprise edition, it couldn't be cached when a user logged in?

[2016-05-06 16:24] phoenix-bjoern commented on #52
@linhvh _without_ Enterprise Edition of the PageCache module logged in users and users with shopping carts can not be cached, yes. The reason is that we've not implemented the necessary ESI in the free version.

[2016-05-09 05:14] rakkiepianist commented on #52
Yeah, but now i need to fix this problem about user login as soon as possible.
How can I implement these ESI policies to make it works, or where can I take the Enterprise version of the module?
Thank you so much!

[2016-05-10 17:06] rakkiepianist commented on #52
@phoenix-bjoern Please i need to fix this problem as soon as possible, where can I take the Enterprise version of the module? May i have to install Magento EE?

[2016-05-10 17:15] phoenix-bjoern commented on #52
There is not patch, it is an enhancement that comes in a separate module, the "Enterprise Edition".

You can subscribe here http://www.shareit.com/product.html?cart=1&productid=300449378&stylefrom=300449378

[2016-05-12 05:59] rakkiepianist commented on #52
Thank you. Is there any other way to fix this logged-in user caching problem without using the enterprise module?

[2016-05-12 09:19] phoenix-bjoern commented on #52
@linhvh This is not about a "fix" or a "bug", it is about a feature that has been implemented in the enterprise edition only.

I'm closing this ticket.

[2016-05-12 09:19] #52 closed, assigned to nobody

[2016-05-12 15:46] ClaudiuCreanga opened #53 "purge url programmatically"
Is there a way to purge the url programatically?

I'm updating the stock by writing to the database directly and would like to purge product urls (or by product id) afterwards (not on  product save).

Or, if not, how would you go about purging all varnish programatically? (Mage::app()->cleanCache()) doesn't work.

Thanks!

[2016-05-13 08:52] ClaudiuCreanga commented on #53
So this would work for individual links: Mage::getModel('varnishcache/control')
                    ->clean($host, sprintf('^%s$', $uri));

[2016-05-17 15:20] Emulator000 opened #54 "Cookie Restriction Mode issue when enabled"
If Cookie Reistriction Mode is enabled, only the page with the banner is cached and showed to the user.
How can render that block dynamically?

[2016-05-17 15:23] Emulator000 commented on #53
You can purge URL programmatically with this simple code snippet:
`$cache = Mage::getSingleton('varnishcache/control');`
`if ($cache)`
`{`
     `$cache->clean($_SERVER['HTTP_HOST'], 'URL/HERE');`
`}`

[2016-05-17 15:25] Emulator000 commented on #38
I can confirm that the suggested option by @phoenix-bjoern resolve this issue.

[2016-05-17 16:22] Emulator000 commented on #54
I've tried something like:
`<esi:include src="http://www.mydomain.ext:8080/module/index/cookie"/>`
Inside the "cookienotiche.phtml" pointing to a custom controller but no luck!

[2016-05-25 15:58] thomasb0123 opened #55 "After added to cart, varnish doesn't cache anymore"

[2016-05-25 16:23] PHOENIX-MEDIA commented on #55
This is not a bug, it is an intended behavior. The same is true for a customer login.
The reason is that several page elements need to rendered individually, so serving cached pages would show wrong results (e.g. empty mini cart).

Please buy our PageCache powered by Varnish Enterprise Edition which can solve that issue using ESI blocks for dynamic content.

[2016-05-25 16:23] #55 closed, assigned to nobody

[2016-07-14 20:57] MLisiecki commented on #54
I have the same problem, after install varnish + PageCache, it seems that cookie "user_allowed_save_cookie", which is set on my computer, is not read by magento/varnish not let to read it.

I would like to set TTL = 0 for whole block <notice-cookie-block> but it is not so clear for me.

[2016-08-01 12:11] xinhus commented on #36
@PHOENIX-MEDIA  i'm getting some issues ._.
When the user click on "add to cart", are getting the empty cart page....
I've checked the cookies and codes....
The variable Mage.Cookies.get('PAGECACHE_FORMKEY') are correct but in the product "AddCartUrl" are showing another formekey...

Ex:
Mage.Cookies.get('PAGECACHE_FORMKEY')
"bEbfEXJDTqg07CKM"

And the button "Add To Cart"
domain.com/checkout/cart

[2016-08-15 12:36] jtsSTECH opened #56 "Enterprise Product Save Not Purging"
When we save a product, the product page is never purged in varnish.

If you go to Phoenix/VarnishCache/Model/Control/Catalog/Product.php and print out the collection select in _purgeByIds(), you get something simliar to:
SELECT `main_table`.\* FROM `core_url_rewrite` AS `main_table` WHERE (id_path IN ("product/1669")) OR (id_path LIKE "product/1669/%")

The "core_url_rewrite" table isn't used any

[2016-09-13 15:51] bjoern-tantau commented on #44
@SiddiqueAhmad What exactly did you put on the same line? I've got the same problem and can't get it resolved. My whole ExecStart parameter is on one line.

[2016-09-13 16:10] bjoern-tantau commented on #44
OK, for anyone wondering, I set up my service file (or whatever it's called in systemd) like this:
/etc/systemd/system/varnish.service.d/customexec.conf

[code]

[2016-09-13 17:25] phoenix-bjoern commented on #44
Seems you have some missing C library dependencies. Check if you have openssl-devel und glibc-devel installed.

[2016-10-17 14:12] karlsminton opened #57 "Switching Module Off Leaves ESI tags"
After switching the module in magento configuration, the frontend still contains esi:includes for my formkeys.
I've cleared the cache, and reindexed.

[2016-11-21 18:03] xavitriu opened #58 "Problems with Add to cart"
As other users happen to them, sometimes we can't add products to the shopping cart. It goes to an "empty cart".

We have instrumented the addAction method in CartController like this:

  Mage::log('AddAction: 1a Start: '.$this->getRequest()->getParam('form_key', 'null').";");
  Mage::log('AddAction: 1b Start: '.Mage::getSingleton('core/session')->getFormKey().";");

And we observe that when we ha

[2017-02-27 13:44] alterego23 commented on #32
Hi,

I'm encountering the same problem. As soon as I set unsecure_base_url to HTTP**S**://www.domain.com, there is no caching anymore. Got the problem for html pages but also for static files (js, png, jpg, css, ...).

Is there any solution for this ?

Thank you.

[2017-02-28 09:22] alterego23 opened #60 "No cache anymore since I switched to HTTPS"
Hi,

I successfully switched to HTTPS by :

- changing the unsecure_base_url to HTTPS
-  In .vcl:    set req.http.Https = "on";
- Added "SetEnv HTTPS on" in apache conf file

Now, Varnish is not caching anymore. Is it caused by phonix-media module which can't handle https?

I delete this "**req.http.Https**" in default vcl but still does not work:
    # not cacheable by default
    if (req.http.Au

[2017-02-28 09:39] bjoern-tantau commented on #60
What are you using to terminate HTTPS? Varnish can't do that alone. You need Nginx or HAProxy in front of it.
No problems with HTTPS here, apart from my pull request in #59.

[2017-02-28 10:24] alterego23 commented on #60
I'm using Apache proxy to offload HTTPS

So my setup is like this:

Apache proxy (443) -> Varnish (80) -> Apache (8080).

I posted my apache conf and vcl on stackexchange: http://magento.stackexchange.com/questions/162007/apache-proxy-varnish-magento-https-not-caching

Do you see any misconfiguration?

The only things I added in .vcl are

-     if (req.http.host ~ "(preprod)") {
        set req.ht

[2017-02-28 10:41] pocallaghan commented on #60
Your issue is likely that `Phoenix_VarnishCache_Helper_Cache ::setCacheControlHeaders` has this check:
[code]
Which means by default the extension won't cache https pages. You can rewrite the helper and comment that check out if you have the server configured correctly (which at a glance you do). Obviously perform tests in a test environment, yadayada.

[2017-02-28 10:44] alterego23 commented on #60
Hi pocallaghan,

I'll test this today, I'm pretty sure that this will fix my problem. I'll let you know!

Have a nice day!

[2017-02-28 13:21] alterego23 commented on #60
Hi pocallaghan,

I commented the lines in the helper. Varnish is now caching HTTPS pages  👍

Problem solved.

Thank you !

[2017-02-28 13:21] #60 closed, assigned to nobody

[2017-02-28 14:38] pocallaghan commented on #60
Now just be careful you aren't caching anything important (like the form_key on the product page).

[2017-02-28 14:44] alterego23 commented on #60
OKay but I'm using Magento CE 1.5.1. I think that this version doesn't use "form_key" on product page. Is it correct ?

[2017-04-06 14:57] MikeParkin opened #61 "Varnish 5 Support"
Hello,

Does this module have Varnish 5.x support?

Cheers
Mike

[2017-04-07 09:47] PHOENIX-MEDIA commented on #61
No, at least not officially. But as far as I know Varnish5 requires only minimum adjustments to the VCL. Checking https://varnish-cache.org/docs/5.0/whats-new/upgrading-5.0.html I don't see obvious incompatibilities. The module itself won't need any adjustments.

If you want to give it a try I would be happy accept your PR.

[2017-05-14 05:25] Infotech-307 opened #62 "Varnish Not Cache When Cookie EXTERNAL_NO_CACHE added"
Hai, I have issue with magento varrnish caching, and found this extension for manage it. but after I install and try the caching performance, I found issue while some cookie show on magento.
1. while I see caching performance on magento home its find, there is cookie called "frontend" show and its handled, page document load 8ms its very fast.
2. I go to product category page and its also work.
3.

[2017-06-12 14:56] eharvest commented on #43
Got the same error when I replace the default.vcl with Phoenix Magento Cache's one.

Should I just append `-p 'cc_command=exec cc -fpic -shared -Wl,-x -o %o %s -lcrypto -lssl'` to the end of `ExecStart=` in /etc/systemd/system/varnish.service? It doesn't look right as I get InvalidArgument error.

Also when I manually start varnishd with: `varnishd -a :80 -f /etc/varnish/default.vcl -s malloc,100M

[2017-11-03 10:17] michbsd opened #63 "ESI"
Hi,

I've setup PageCache on an old 1.4.1.1 system - and everything seems to work.
I am running Varnish 4.1.8

How can I control which blocks should be loaded via ESI ?
E.g. my cart block is called "dropdown_cart" - how/where can I set that this should not be cached? Or at the very least uniquely cached per visitor?

Thanks,

[2017-11-03 10:20] michbsd commented on #63
Currently only media (jpgs) seems to be cached

[2019-04-18 06:25] routbiplab commented on #36
any solution for this ?

[2020-05-31 02:46] BlackKwazi opened #64 "my shopping cart does not capture the products on the first attempt"
if(isset($_POST["add_to_cart"])){

        if(isset($_SESSION["shopping_cart"])) {
            $item_array_id = array_column($_SESSION["shopping_cart"],"item_id");
            if(!in_array($_GET["ItemID"],$item_array_id)){

                $count = count($_SESSION["shopping_cart"]);
                $item_array = array(
                    'item_id' => $_GET["ItemID"],
                    'item_nam

[2020-05-31 02:50] BlackKwazi commented on #64
<?php
                        if(!empty($_SESSION["shopping_cart"])){
                            $total = 0;
                            foreach($_SESSION["shopping_cart"] as $keys => $values){
                    ?>
                        <tr>
                            <td><?php echo $values["item_name"]; ?></td>
                            <td><?php echo $values["item_quantity"]; ?></td>